# dependencies
node_modules/
**/node_modules/

# builds
.dist/
dist/
.next/
.out/
coverage/

# env/config
.env
.env.*
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
Thumbs.db